<!DOCTYPE html>
<html>
<head>
    <title>Previous orders</title>
</head>
    <body>
        {%for order in orders%}
        <table style="width: 100%;">
            <tr>
                <td>Order ID : {{order['id']}}</td><td></td><td></td>
                <td>Order Date : {{order['orderDate']}}</td>
            </tr>
            <tr>
                <th>Item</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            {%for item in order['items']%}
            <tr>
                <td>{{item['name']}}</td>
                <td>Rs.{{item["sale_rate"]}}</td>
                <td>{{item['quantity']}}</td>
                <td>Rs.{{item["sale_rate"]*item['quantity']}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td><td></td><td></td>
                <td>
                <a href="{{url_for('add_to_cart',orderId=order['id'])}}">
                    <button type="submit">Reorder</button>
                </a>
                </td>
            </tr>
        </table>
        <br>
        {% endfor %}
        
        
    </body>
</html>